.theme--light.application {
  color: #fff !important;
  background: transparent !important;
}

#bg {
  background-image: linear-gradient(to left bottom, #053733, #00624c, #009054, #00be49, #42eb12) !important;
  clip-path: polygon(60% 49%, 100% 0, 100% 100%, 0 100%, 0 64%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.v-sheet {
  border-radius: 27px 27px 27px 27px !important;
  -moz-border-radius: 27px 27px 27px 27px !important;
  -webkit-border-radius: 27px 27px 27px 27px !important;
  border: 0px solid #000000 !important;
}